<html><head><style>table {font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size:12px;text-align:left;border-collapse:collapse;margin:10px;} th{font-size:14px;font-weight:normal;color:#039;padding:10px 8px;} td{color:#669;padding:8px;}.odd{background:#e8edff;}img{padding:5px; border:solid; border-color: #dddddd #aaaaaa #aaaaaa #dddddd; border-width: 1px 2px 2px 1px; background-color:white;}</style></head>
<body><table>
    <tr><th>表名</th><th>中文名称</th><th>描述</th><th>CATALOGID</th><th>ID</th><th>NAME</th><th>FIELDNAME</th></tr><tr class="odd"><td>acquisition</td><td>采器器信息定义表</td><td>采器器信息定义表</td><td>402882f0322958e10132295cd0b30002</td><td>402882f0322958e101322974c3320005</td><td>内容链接结束</td><td>LINKEND</td></tr>

</table>
<p>添加用户：<a href="/add">添加</a></p>
<p>更新用户：<a href="/update">修改</a></p>

</body></html>